@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --font-titulo-jogos: 'PT Serif', serif;
    --font-texto-jogos: 'Roboto Condensed', sans-serif;
    --font-frases: 'Inconsolata', monospace;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-image: linear-gradient(to right, red, blue);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.cabecalho {
    padding: 2% 10% 0% 4%;

}

.navegacao {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;

}

.botoesnav {
    background-color: #CD1818;
    text-decoration: none;
    text-align: center;
    width: 8%;
    height: 6%;
    color: black;
    border-style: inset;
    border-width: 2px;
    border-radius: 10%;
    font-size: 1.25rem;
    padding: 5px 15px;
    text-shadow: 1px 1px 3px white, 0em 0em 1em black, 0 0 0.2em white;
}

.botoesnav:hover {
    background-image: linear-gradient(to left, red, blue);
    border-bottom: 3px aqua;
    color: rgb(from color 255 100 255);

}

.nomejogo {
    text-align: center;
    font-family: var(--font-titulo-jogos);
}

.imgGame {
    /*    width: 300px;
    height: 450px; */
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: blue;
    border-radius: 3%;
}

.textGame {
    padding: 200px 0px 0px 150px;
    width: 300px;
    height: 450px;
    text-align: justify;
    color: black;
    font-size: 1.25rem;
    font-family: var(--font-texto-jogos);
    font-weight: 400;
    display: inline-block;
}

.textoAviso {
    background-color: white;
    font-family: var(--font-frases);
    font-weight: 700;
    height: 100px;
    width: 600px;
    text-align: justify;
    margin: 0 auto;
    padding: 30px 30px 300px 30px;
    position: relative;
    top: 153px;
    border: blue groove;
    font-size: 1.56rem;
}

/*.redape {

    padding: 15px;
    background-color: var(--cor-s);
    color: var(--cor-p);
    text-align: center;
    font-family: var(--font-1);
    font-size: 10px;
    background-color: gray;
}*/

.icones-sociais li {
    display: inline-block;
    width: 40px;
    height: 40px;
}

footer {
    line-height: 280%;
    background: gray;
    padding: 18px;
    bottom: 0;

}

footer ul {
    float: right;
    display: table;
}

footer ul li {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}


/* FORMULARIO ESTILO DE JOGO */

/*
.btnOpenModal {
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

hr {
    border: 0px;
    border-top: 1px solid lightgray;
}

.modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

span {
    margin: 10px auto;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btnOK {
    background-color: blue !important;
}

.btnClose {
    background-color: brown !important;
}



@media (max-width: 500px) {
    .modal {
        padding: 10px;
        width: 80%;
    }

    span,
    .btns button {
        font-size: smaller;
    }
}

*/

/* QUESTIONARIO */
.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 17px;
    border-radius: 15px;
    width: 20%;
}

fieldset {
    border: 3px solid dodgerblue;
}

legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 0.9rem;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 0.75rem;
    color: dodgerblue;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 0.9rem;
}

#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

@media (max-width: 1200px) {
    .textoAviso {
        width: 50%;
        font-size: 120%;
    }

    .box {
        width: 50%;
    }

}

@media (max-width: 1200px) {
    .textoAviso {
        width: 50%;
        font-size: 120%;
    }

    .box {
        width: auto;
    }


}